/**
 * @name Rematch.GG
 * @description Rematch.GG Dark Mode For BetterDiscord :D
 * @author Santi
 * @version 1.0
 * @authorId 295348738250113025
 * @website https://addm8.com
 */

.theme-dark .appMount-3lHmkl .markup-2BOw-j a {
  color: #2ec4ff;
}

.scroller-1Bvpku {
  background-color: #1C1C1E;
}

.wrapper-3Njo_c .expandedFolderBackground-1cujaW {
  background-color: #272729;
}

.base-3dtUhz .sidebar-2K8pFh .container-3w7J-x {
  background-color: rgba(28, 28, 30, 0.603);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.sidebar-2K8pFh > nav > div.unreadBottom-1_LF_w.unread-15xhX5.container-35XQWE > div {
  background-color: #7343a1;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.sidebar-2K8pFh > nav > div.positionedContainer-3LNR6L > div > div {
  background-color: #7343a1;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.sidebar-2K8pFh > section > div.wrapper-24pKcD > div > div.actionButtons-14eAc_ > button:nth-child(1) {
  background-color: rgba(236, 0, 142, 0.596);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.sidebar-2K8pFh > section > div.wrapper-24pKcD > div > div.actionButtons-14eAc_ > button.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN.button-1YfofB {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#ec008e), to(#6a3a96));
  background-image: linear-gradient(to top left, #ec008e, #6a3a96);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.sidebar-2K8pFh > section > div.wrapper-24pKcD > div > div.actionButtons-14eAc_ > button:nth-child(2) {
  background-color: rgba(141, 50, 226, 0.603);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.chat-3bRxxu > section {
  background-color: rgba(45, 45, 53, 0.473);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.sidebar-2K8pFh > section > div.container-3baos1 {
  background-color: rgba(14, 14, 15, 0.473);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.sidebar-2K8pFh > section > div.wrapper-24pKcD > div {
  background-color: rgba(14, 14, 15, 0.473);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.chat-3bRxxu > div.content-yTz4x3 > main > form > div > div > div > div.scrollableContainer-2NUZem.webkit-HjD9Er {
  background-color: #26313d;
}

#private-channels > div {
  background-color: rgba(14, 14, 15, 0.473);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.sidebar-2K8pFh > nav > div.searchBar-6Kv8R2 {
  background-color: #1C1C1E;
}

.divider-3_HH5L.hasContent-1_DUdQ .content-1o0f9g {
  color: #cfcfcf;
  font-size: 14px;
  border-radius: 67px;
  font-weight: bold;
  background-color: rgba(127, 162, 238, 0.205);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > nav > ul > div.unreadMentionsIndicatorBottom-2mDYbI > div {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#EC008C), to(#693A96));
  background-image: linear-gradient(to bottom right, #EC008C, #693A96);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > nav > ul > div.unreadMentionsIndicatorTop-2-tcdU > div {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#EC008C), to(#693A96));
  background-image: linear-gradient(to top left, #EC008C, #693A96);
}

.wordmark-2iDDfm svg {
  width: 0px;
}

.wordmark-2iDDfm::after {
  position: absolute;
  content: "Rematch.GG";
  color: #a9a5aa;
  border: none;
  font-weight: bolder;
  font-size: 14px;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent */
}

#app-mount > div.app-1q1i1E > div > div.bg-h5JY_x {
  background-color: #1C1C1E;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div {
  background-color: #1C1C1E;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.sidebar-2K8pFh > section > div.panel-24C3ux.activityPanel-28dQGo {
  background-color: rgba(14, 14, 15, 0.473);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav {
  margin-right: 100px;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div {
  background-color: rgba(26, 26, 31, 0.692);
}

#app-mount > div:nth-child(9) > div.layer-2KE1M9 > div > div {
  background-color: rgba(26, 26, 31, 0.671);
}

#app-mount > div:nth-child(9) > div.layer-2KE1M9 > div > div > form > div.flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2gL1pp {
  background-color: rgba(26, 26, 31, 0.116);
}

#members-682453620293500939 > div {
  background-color: #1C1C1E;
}

#members-718263620231757834 > div {
  background-color: #1C1C1E;
}

#members-801565901409091594 > div {
  background-color: #1C1C1E;
}

#members-739000808942731274 > div {
  background-color: #1C1C1E;
}

.theme-dark .app-2rEoOp .chat-3bRxxu {
  background-color: #242427;
}

.members-1998pB, .members-1998pB > div {
  background-color: rgba(26, 26, 31, 0.116);
}

#ONLINE-tab > div {
  background-color: #1C1C1E;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.container-1D34oG > section {
  background-color: #1C1C1E;
}

#ALL-tab > div {
  background-color: #1C1C1E;
}

#PENDING-tab > div {
  background-color: #1C1C1E;
}

#BLOCKED-tab > div {
  background-color: #1C1C1E;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.container-1D34oG > div > div.nowPlayingColumn-2sl4cE > div > div {
  background-color: #1C1C1E;
}

#PENDING-tab {
  background-color: #1C1C1E;
}

#BLOCKED-tab {
  background-color: #1C1C1E;
}

#ALL-tab {
  background-color: #1C1C1E;
}

#ONLINE-tab {
  background-color: #1C1C1E;
}

#private-channels {
  background-color: #1C1C1E;
}

.modeUnread-1qO3K1 .channelName-2YrOjO,
.modeUnread-1qO3K1 .icon-1DeIlz {
  /* color: rgb(102, 173, 255) */
}

/* Selected Highlight */
.modeSelected-346R90 .content-1x5b-n {
  border: 0.5px solid #4198FE;
}

.modeSelected-346R90 .channelName-2YrOjO,
.modeSelected-346R90 .icon-1DeIlz {
  /* color: rgb(6, 255, 255); */
}

[class^="iconVisibility-"][class*="modeUnread-"] > [class^="unread-"] {
  background-color: #693A96;
}
/*# sourceMappingURL=Rematch-backend.css.map */
